@using MVCBookstore.Models
@using PagedList.Mvc
@model PagedList.PagedList<MVCBookstore.Models.SACH>

@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ THÔNG TIN SÁCH</h2>

<h5>
    @Html.ActionLink("THÊM MỚI", "Themmoisach")
</h5>
    

<table class="table" border="1">
    <tr>
        <th style="width:100px;">
          Mã sách
        </th>
        <th style="width:100px">
            Tên sách
        </th>
        <th>  Giá bán  </th>
        <th style="width:300px">
           Mô tả
        </th>
        <th style="width:120px">
           Ảnh bìa
        </th>
        <th style="width:150px">
            Ngày cập nhật
        </th>
        <th style="width:80px">
           SL. Tồn
        </th>
        <th style="width:120px">
            Tên chủ đề
        </th>
        <th style="width:100px">  Tên NXB </th>
        <th style="width:200px"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Masach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giaban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
           <img src="@Url.Content("~/Hinhsanpham/" + item.Anhbia)"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluongton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Suasach", new {  id=item.Masach}) |
            @Html.ActionLink("Chi tiết", "Chitietsach", new { id=item.Masach }) |
            @Html.ActionLink("Xóa", "Xoasach", new { id=item.Masach })
        </td>
    </tr>
}
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount;
<div class="menuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
</div>
<style>
    .menuTrang li{
        display:inline;
    }
</style>


