@model MVCBookstore.Models.SACH

@{
    ViewBag.Title = "Xoasach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN SÁCH CẦN XÓA</h2>

<h3>Bạn quyết định xóa quyển sách này ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="d-flex">
            <dt>
                Mã sách :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Masach)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                Tên sách :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tensach)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                Gía bán :
            </dt>
            <dd>
                @String.Format("{0:0,0}", Model.Giaban) VNĐ
            </dd>
        </div>
       
        <div class="d-flex">
            <dt>
                 Mô tả :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mota)
            </dd>
        </div>        
        <div class="d-flex">
            <dt>
               Ảnh bìa :
            </dt>
            <dd>
                <img src="@Url.Content("~/Hinhsanpham/" + Model.Anhbia)" width="120px" />
            </dd>
        </div>       
        <div class="d-flex">
            <dt>
               Ngày cập nhật :
            </dt>
            <dd>
                @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                Số lượng tồn:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Soluongton)
            </dd>
        </div>       
        <div class="d-flex">
            <dt>
                Mã chủ đề :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaCD)
            </dd>
        </div>     
        <div class="d-flex">
            <dt>
               Mã Nhà xuất bản :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaNXB)
            </dd>
        </div>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-warning" /> |
            @Html.ActionLink("TRỞ VỀ TRANG QUẢN LÝ SÁCH", "Sach")
        </div>
    }
</div>
